@keyframes scalein {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

#diapo-menu {
    position: absolute;
    animation: scalein 0.3s;
    transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    transform-origin: top left;
}

p {
    margin: auto 0;
    width: fit-content;
}

.options {
    min-width: max-content;
    border: 1px solid #000;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
}

.option {
    width: 100%;
    height: 1.8rem;
    padding: 0 0.2rem;
    cursor: pointer;
    background-color: whitesmoke;
    transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.option:hover {
    background-color: rgb(190, 211, 255);
}

.option-border {
    border-top: 1px solid #000;
}